<meta-data
    android:name="com.google.android.geo.AIzaSyDwN2oc91yO6c6x7U_0XR4OhIjtnHrLDMo"
    android:value="AIzaSyDwN2oc91yO6c6x7U_0XR4OhIjtnHrLDMo"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />