<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Kwaunoda.package">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Kwaunoda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- API Key for Google services -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwN2oc91yO6c6x7U_0XR4OhIjtnHrLDMo"/>

        <!-- Other application components like activities go here -->

    </application>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>